.issue-card {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  &__image {
    width: 100%;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__body {
    padding: 20px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    font-family: $rubik;
  }
  &__description {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: $roboto;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
  }
  &__footer {
    display: grid;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3, calc(100% / 3));
    margin: auto 0 20px 0;
  }
  &__likes {
    display: flex;
    align-items: center;
    text-align: left;
  }
  &__status {
    text-align: center;
  }
  &__like-icon {
    margin-right: 5px;
    cursor: pointer;
  }
  &__link {
    text-align: right;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.new-issue {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $white;
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  &__images-icon {
    font-size: 75px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  input[type='file'] {
    display: none;
  }
  &__take-photo,
  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__images {
    display: flex;
    align-items: center;
  }
  &__or {
    margin: 0 30px;
    font-size: 30px;
    font-weight: 700;
  }
  &__image-label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__image-name-text {
    text-overflow: ellipsis;
    max-width: 30ch;
    overflow: hidden;
  }
  &__image-name {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
  }
  &__remove-img {
    cursor: pointer;
  }
  &__photo {
    max-width: 300px;
  }
  &__select-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.issue-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $white;
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  &__body {
    display: flex;
    justify-content: center;
  }
  &__data {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  }
}

.slider {
  display: flex;
  width: 100%;
  height: 500px;
  position: relative;
  &__main-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__left-icon,
  &__right-icon {
    position: absolute;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    background-color: $white;
    border-radius: 50%;
    transform: translate(0, -50%);
  }
  &__left-icon {
    left: 0;
  }
  &__right-icon {
    right: 0;
  }
  &__points {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: $white;
    transform: translate(-50%, 0);
  }
  &__point {
    &--active {
      color: $black;
    }
    cursor: pointer;
  }

  &__data {
    display: flex;
    flex-direction: column;
  }
}
