.c-map {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  &__region-no {
    fill: $grey-9;
    cursor: pointer;
  }
  &__region {
    cursor: pointer;
    fill: $grey-c;
    stroke: $grey-b;
    stroke-width: 0.5px;
    &--active {
      fill: $grey !important;
    }
  }
}

.google-map {
  &__marker {
    width: 100px;
    min-height: 100px;
    color: red;
    font-size: 44px;
    margin-top: -21px;
    margin-left: -10px;
  }
}
